<form class="form-signin">
  <h2 class="form-signin-heading">New here? Please register and join us.</h2>
  <label for="inputFirstName">First Name</label>
  <input type="text" name="firstName" placeholder="First Name" class="form-control" placeholder="Email address" autofocus>
  <label for="inputLastName">Last Name</label>
  <input type="text" name="lastName" placeholder="Last Name" class="form-control" placeholder="Email address">
  <label for="inputEmail">Email address</label>
  <input type="email" name="email" class="form-control" placeholder="Email address">
  <label for="inputPassword">Password</label>
  <input type="password" name="password" class="form-control" placeholder="Password">
  <label>Confirm Password:</label>
  <input type="password" name="pwdConfirm" class="form-control" placeholder="confirm password entry">
  <button class="btn btn-md btn-primary btn-block submit" name="gate" value="register" type="submit">Submit</button>
</form>