@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;

  background-color: hsl(0, 1%, 98%);
  background-image: url("./assets/img/running.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h5 {
  font-weight: bold;
}

#navbar>ul {
  list-style: none;
  margin-top: 15px;
}

#navbar>ul>li {
  display: inline-block;
  margin: 0 15px;
}

li>a {
  color: #fff;
}

.jumbotron {
  /* background-image: url("../img/wall3.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  color: #fff;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.textOverImg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.submit {
  margin: 20px 0;
}

.error {
  color: #da1c1c;
}

.btn-block {
  width: 80px;
  margin: 5px 0;
}
